In [42]:
import pandas as pd
import dill
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import ElasticNet
from calendar import monthrange
from datetime import timedelta

In [2]:
df = pd.read_csv('veda_mc.csv')
df.head()

   Unnamed: 0          date  amount
0           0  Jul 30, 2023     1.0
1           1  Aug 01, 2023   583.0
2           2  Aug 01, 2023    93.0
3           3  Aug 04, 2023   454.0
4           4  Aug 09, 2023  5500.0

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
df = df.rename(columns = {'date': 'date',
          'amount': 'price'})

In [30]:
with open("preprocessing.pkl", "rb") as f:
    prep = dill.load(f)
df = prep.preprocess(df)

In [40]:
with open("training_prediction.pkl", "rb") as f:
    train_pred = dill.load(f)

In [44]:
each_day_prediction, total_spending, avg_spent = train_pred.traintest(df)

Model training complete.

In [46]:
total_spending

array([14421.27344973])

In [47]:
avg_spent

array([465.20236935])

In [45]:
each_day_prediction

[(array([1331.85006296]), 5),
 (array([0.]), 6),
 (array([1880.38382504]), 0),
 (array([0.]), 1),
 (array([1409.6175796]), 2),
 (array([474.86815696]), 3),
 (array([680.65743786]), 4),
 (array([846.88638086]), 5),
 (array([0.]), 6),
 (array([796.2489132]), 0),
 (array([0.]), 1),
 (array([841.74094121]), 2),
 (array([680.78003287]), 3),
 (array([323.89279763]), 4),
 (array([1248.53375571]), 5),
 (array([0.]), 6),
 (array([164.9322375]), 0),
 (array([0.]), 1),
 (array([557.28879238]), 2),
 (array([273.33322158]), 3),
 (array([0.]), 4),
 (array([290.17655641]), 5),
 (array([0.]), 6),
 (array([627.16697182]), 0),
 (array([0.]), 1),
 (array([571.70014143]), 2),
 (array([0.]), 3),
 (array([0.]), 4),
 (array([398.40159618]), 5),
 (array([0.]), 6),
 (array([889.63653105]), 0)]